{% extends "default/layouts/main.html" %}

{% block content %}
  {% load custom_filters %}

  <h2 class="ui header">{{ current_brand.name }}</h2>

  {% include 'default/elements/subheader.html' %}

  {% autoescape off %}
  {{ current_project.description|markdownify }}
  {% endautoescape %}

  {% if current_project.pictures %}
    {% for picture in current_project.pictures %}
      {% if forloop.counter == 1 or forloop.counter|modulo:3 == 1 %}<div class="ui medium images">{% endif %}
      <img class="ui image" src="{{ picture.absolute_url }}" title="{{ picture.name }}">
      {% if forloop.counter > 1 and forloop.counter|modulo:3 == 0 %}</div>{% endif %}
    {% endfor %}
  </div>
  {% endif %}

{% endblock %}
