{% extends "default/layouts/main.html" %}

{% block content %}
  {% load custom_filters %}

  <h2 class="ui header">{{ current_brand.name }}</h2>

  {% include 'default/elements/subheader.html' %}

  {% autoescape off %}
  {{ current_project.description|markdownify }}
  {% endautoescape %}

  {% if current_project.pictures %}
  <div class="ui relaxed grid">
    <div class="three column row">
    {% for picture in current_project.pictures %}
      <div class="column">
        <img class="ui fluid image" src="{{ picture.absolute_url }}" title="{{ picture.name }}">
      </div>
    {% endfor %}
    </div>
  </div>
  {% endif %}

{% endblock %}
